{# Base HTML, compatible with what Vite expects #}
<!DOCTYPE html>
<html lang="en">
{% include "components/_site-head.njk" %}
<body>
    {% include "components/_header.njk" %}
    <main>
        <h1>Writing</h1>
        <h2>Here're a few words I've written.</h2>
        <ul class="article-list">    
            {% for item in collections.writing %}
            <li>
                <article>
                    <h3>
                        <a href="{{ item.url }}" aria-label="See {{ item.data.title }}">{{ item.data.title }}</a>
                    </h3>
                    <time datetime="{{ item.data.date | w3DateFilter }}">{{ item.data.date | dateFilter }}</time>
                </article>
            </li>
            {% endfor %}
        </ul>
    </main>
    {% include "components/_footer.njk" %}
    {#  
        We must split development  and production scripts
        In development, vite runs a server to resolve and reload scripts
        In production, the scripts are statically replaced at build-time 

        The build.env variable is assigned in src/_data/build.js
        @see https://vitejs.dev/guide/backend-integration.html#backend-integration
        @see https://www.11ty.dev/docs/data-js/#example-exposing-environment-variables
    #}
    {% if build.env == "production" %}
        {# We must read the production scripts from the Vite manifest. We defer that logic to a custom shortcode #}
        {% viteScriptTag "src/client/main.js" %}
        {% viteLegacyScriptTag "vite/legacy-polyfills" %}
        {% viteLegacyScriptTag "src/client/main-legacy.js" %}
    {% else %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>
        <script type="module" src="http://localhost:3000/src/client/main.js"></script>
    {% endif %}
</body>
</html>