<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.url }}" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="{{ '/favicon.png' | url }}" />
    {% seo "" %}
    {% twitterCard %}
    {% openGraph %}

    {% if build.env == "production" %}
        {# Add any CSS from the main script #}
        {% viteLinkStylesheetTags "src/client/main.js" %}
    {% endif %}
</head>